.q-field {
  &__control {
    background: $dark-background !important;
    color: $text-color-2;

    input {
      color: $text-color-3;
    }
  }

  .q-icon,
  &__label {
    color: $text-color;
  }
}
