@import "fonts.scss";

body {
  background: #2980b9 url("assets/background.png") repeat 0 0;
}

.app-container {
  @media (max-width: $breakpoint-tablet) {
    padding: 20px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 20px 5px;
  }
}
