@import "fonts.scss";
@import "./components/input";

body {
  background-color: #cd2331;
  background-size: cover;
  background-position: center;
  background-image: url("assets/background.webp");
  height: 100vh;
}

button {
  border: initial;
  background: initial;
  display: initial;
  font: initial;
  font-family: initial;
  align-items: initial;
  text-align: initial;
  color: initial;

  cursor: pointer;
}

strong {
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.app-container {
  height: 100vh;
  width: 100vw;

  background-color: $default-background;
  backdrop-filter: $default-backdrop;

  position: relative;

  display: flex;
  flex-direction: column;

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;

    @media (max-width: $breakpoint-tablet) {
      padding: 36px 20px;
    }

    @media (max-width: $breakpoint-mobile) {
      padding: 36px 5px 20px;
    }

    @media (min-width: $breakpoint-laptop) {
      padding: 46px 40px 30px;
    }
  }
}
